.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
 
}
.item{
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(192, 189, 189);
  padding: 30px;
  position: relative;
}
p, h3{
  text-align: center;
}
button{
  align-items: center;
  position: absolute;
  transform: translateX(140%);
  top: 87%;
  border: grey 1px solid;
  background-color: white;
  color: grey;
  cursor: pointer;
}
P{
  color: grey;
  font-size: 12px;
}
h3{
  color: red;
}